* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background: #4b476e;
}

:root {
  scroll-behavior: smooth;
}

.max {
  max-width: 950px;
}

/* margin-top: auto; sørger for at footer bliver i bunden */

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #333333;
  padding: 20px;
}

/* pil ned */

.knap {
  width: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* border til link-løsninger */

.solution {
  background-color: rgba(231, 235, 192, 0.927);
  color: #333333;
  border-radius: 8%;
  padding: 10px;
  margin: 40px;
}

.solution:hover {
  scale: 0.9;
  background-color: #333333;
  color: #e7ebc0;
  transition: 0.5s ease;
}

/* tekst */

a {
  text-decoration: none;
  font-weight: 1000;
  font-family: "Madimi One", serif;
}

h1,
h2,
h3,
p,
a {
  color: #e7ebc0;
}

h1 {
  font-family: "Madimi One", serif;
  font-size: 30px;
  text-align: center;
}

h2,
h3,
p {
  font-family: "Jost", serif;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 18px;
}

footer p {
  font-family: "Madimi One", serif;
}

/* header og menu */
/* flex-end for at sætte det til højre side af skærmen  */

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Jost", serif;
  margin: 5px;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: flex-end;
}

.menu li {
  margin-right: 20px;
  list-style-type: none;
}

.menu li:last-child {
  margin-right: 20px;
}

.menu a {
  display: flex;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: rgba(231, 235, 192, 1);
}

/* burger */

.burger {
  cursor: pointer;
}

.burger .dot {
  background-color: #333333;
  margin-top: 1px;
  transition: 0.4s linear;
  border: 7px solid #333333;
  border-radius: 50%;
}

.burger {
  display: none;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    margin: 20px;
  }

  /* jeg har givet dem en transform translate - 5px, -5px er 5px til højre på x-aksen, 5px er op ad y-aksen */

  .burger.active .dot:nth-child(1) {
    transform: translate(5px, -5px);
    animation: glowDot;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .burger.active .dot:nth-child(2) {
    animation: glowDot;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .burger.active .dot:nth-child(3) {
    transform: translate(-5px, 5px);
    animation: glowDot;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes glowDot {
    0% {
    }
    100% {
      filter: drop-shadow(0 0 4px rgb(231, 235, 192, 1));
    }
  }

  nav.active .menu {
    display: block;
    position: fixed;
    top: 120px;
    width: 100%;
    z-index: 1;
    margin: -50px;
    text-align: right;
  }

  nav.active .menu a {
    font-size: 20px;
    padding: 10px 16px;
  }

  nav.active .menu a:hover {
    color: #e7ebc0;
  }
}
