* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background: #4b476e;
}

:root {
  scroll-behavior: smooth;
}

/* margin-top: auto; sørger for at footer bliver i bunden */

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background-color: #333333;
  padding: 20px;
  font-family: "Madimi One", serif;
}

/* tekst */

a {
  text-decoration: none;
  color: rgba(231, 235, 192, 1);
  font-weight: 1000;
  font-family: "Madimi One", serif;
}

h1 {
  color: rgba(231, 235, 192, 1);
  font-family: "Madimi One", serif;
  font-size: 30px;
}
h2 {
  font-family: "Jost", serif;
  color: rgba(231, 235, 192, 1);
}

footer p {
  font-family: "Madimi One", serif;
  color: rgba(231, 235, 192, 1);
}

.knap-start,
.knap-web,
.knap-uxui,
.knap-ani {
  width: 30px;
  margin-bottom: 90px;
  background-color: var(--blue);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* header og menu */

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Jost", serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
  list-style-type: none;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: rgba(231, 235, 192, 1);
}

.burger {
  cursor: pointer;
}

.burger .dot {
  background-color: #333333;
  margin-top: 1px;
  transition: 0.4s linear;
  border: 7px solid #333333;
  border-radius: 50%;
}

.burger {
  display: none;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    margin: 20px;
  }

  /* jeg har givet dem en transform translate - 5px, -5px er 5px til højre på x-aksen, 5px er op ad y-aksen */

  .burger.active .dot:nth-child(1) {
    transform: translate(5px, -5px);
    animation: glowDot;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .burger.active .dot:nth-child(2) {
    animation: glowDot;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .burger.active .dot:nth-child(3) {
    transform: translate(-5px, 5px);
    animation: glowDot;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes glowDot {
    0% {
    }
    100% {
      filter: drop-shadow(0 0 4px rgb(231, 235, 192, 1));
    }
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu a {
    font-size: 20px;
  }

  nav.active .menu a:hover {
    color: rgba(231, 235, 192, 1);
  }
}
