* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.univers {
  height: 100vh;
  background: linear-gradient(#4b476e, #96c0e8);
}

.himmel {
  height: 100vh;
  background: #96c0e8;
}

.land {
  height: 100vh;
  background: #d0f9d3;
}
