#univers {
  display: grid;
  place-items: center;
  height: 90vh;
  background: #4b476e;
}

#univers2 {
  display: grid;
  place-items: center;
  height: 100vh;
  background: linear-gradient(#4b476e, #96c0e8);
}

.moon {
  display: grid;
  max-width: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(231, 235, 192, 1);
}

.moon:hover {
  box-shadow: #9da4ab 0px 0px 30px 10px;
}

.moon2 {
  display: grid;
  max-width: 100px;
  width: 100px;
  height: 100px;
  margin-bottom: 70px;
  border-radius: 50%;
  background-color: rgba(231, 235, 192, 1);
  box-shadow: #9da4ab 0px 0px 30px 10px;
}

#web {
  height: 100vh;
  background: #d0f9d3;
}

#uxui {
  height: 100vh;
  background: #88a88a;
}

#animation {
  height: 100vh;
  background: #95afd2;
}

#indhold {
  height: 100vh;
  background: #685653;
}
