.univers {
  display: grid;
  place-items: center;
  margin-top: 120px;
  background: #4b476e;
}

#univers2 {
  display: grid;
  place-items: center;
  padding-bottom: 225px;
  background: linear-gradient(#4b476e, #96c0e8);
}

#univers2 h3 {
  margin-bottom: 100px;
}

.saturn2 {
  width: 200px;
}

.moon {
  max-width: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 60px;
  background-color: rgba(231, 235, 192, 1);
  z-index: 1;
}

/* pointer-events: none; gør at cta-knappen + hover virker selvom linjen ligger ovenover */

.pege {
  width: 100px;
  margin: 10px;
  z-index: 2;
  pointer-events: none;
}

.moon:hover {
  box-shadow: #9da4ab 0px 0px 30px 10px;
  transition: 0.4s ease;
}

#web,
#uxui,
#animation,
#indhold {
  display: grid;
  place-items: center;
}

#web {
  height: 100vh;
  background: #9db09f;
}

#uxui {
  height: 100vh;
  background: #88a88a;
}

#animation {
  height: 100vh;
  background: #95afd2;
}

#indhold {
  height: 100vh;
  background: #685653;
}

@media (min-width: 800px) {
  .moon {
    width: 150px;
    height: 150px;
    max-width: 150px;
  }

  .moontext {
    width: 300px;
    margin-top: -300px;
  }
}
