/* delt layout for forsiden og portfolio-forsiden */

.univers {
  display: grid;
  place-items: center;
  margin-top: 60px;
  background: #4b476e;
}

/* gradient farve til himlen på portfolio-siden */

#univers2 {
  background: linear-gradient(#4b476e, #96c0e8);
}

/* luft så første projekts h1 ikke ses med det samme */

#univers2 h3 {
  margin-bottom: 100px;
}

/* måne div */

.moon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 60px;
  background-color: rgba(231, 235, 192, 1);
  z-index: 1;
}

.moon:hover {
  box-shadow: #9da4ab 0px 0px 30px 10px;
  transition: 0.4s ease;
}

/* centrering af sektioner */

#web,
#uxui,
#animation,
#indhold {
  display: grid;
  place-items: center;
}

h1 {
  margin-top: 40px;
}

/* centreret tekst for div'er med id'et center */

.center {
  text-align: center;
}

/* knap */

.knap {
  margin-bottom: 100px;
}

/* grundlæggende web */

#web {
  height: auto;
  background: #96c0e8;
  padding: 30px;
}

#web h1 {
  margin-top: 110px;
  margin-bottom: 40px;
}

#web p {
  margin-bottom: 25px;
}

.wireframe {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 40px;
}

/* grundlæggende ux/ui */

#uxui {
  height: auto;
  background: #88a88a;
  padding: 35px;
}

#uxui h1 {
  margin-bottom: 40px;
}

#uxui p {
  margin-bottom: 30px;
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img1 {
  grid-column: span 2;
}

.img2 {
  grid-column: 1;
}

.img3 {
  grid-column: 2;
}

.img4 {
  grid-column: span 2;
}

/* grundlæggende animation */

#animation {
  height: auto;
  background: #859fc2;
  padding: 30px;
}

#animation h1 {
  margin-bottom: 40px;
}

#animation h2 {
  margin-top: 30px;
  margin-bottom: 40px;
}

.ide,
.paper {
  display: grid;
  padding: 20px;
}

.ide {
  gap: 30px;
}

.valg img {
  margin-top: 5px;
  padding: 20px;
}

.paper {
  gap: 40px;
}

.spilelementer {
  padding: 20px;
}

.screens {
  display: grid;
  gap: 20px;
}

/* grundlæggende indhold */

#indhold {
  height: auto;
  background: #464141;
  padding: 30px;
}

#indhold h2 {
  margin-top: 60px;
}

#indhold p {
  margin: 40px;
}

.clapboard {
  max-width: 280px;
  margin: 20px auto 20px auto;
}

#viola {
  margin-bottom: -10px;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 40px;
}

.style {
  padding: 25px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 40px 40px 0px 40px;
}

@media (min-width: 800px) {
  /* tekst */
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 20px;
  }

  /* måne div */

  .moon {
    width: 150px;
    height: 150px;
  }

  /* web */

  .wireframe {
    max-width: 700px;
    margin: auto;
  }

  #css1 {
    margin-top: 60px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    margin: 50px 25px 25px 25px;
  }

  .min-mac {
    max-width: 900px;
    margin: auto;
  }

  /* uxui */

  .grid_1-1-1-1 {
    grid-template-columns: 1fr 1fr 2fr;
    gap: 40px;
    margin: 50px 0px 50px 0px;
  }

  .img1 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .img2 {
    grid-column: 1;
    grid-row: 2;
  }

  .img3 {
    grid-column: 2;
    grid-row: 2;
  }

  .img4 {
    grid-column: 3;
    grid-row: 1 / span 2;
    height: 100%;
  }

  /* animation */

  .ide {
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }

  .ide p {
    order: 2;
    text-align: right;
  }

  .valg {
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .paper {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    gap: 150px;
  }

  .spilelementer {
    margin-bottom: 50px;
  }

  .screens {
    grid-template-columns: 1fr 1fr;
  }

  /* indhold */

  .grid_1-1-1 {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }

  .originalside {
    grid-column: 1 / span 3;
  }

  .style {
    max-width: 800px;
    margin: auto;
  }

  .grid_1-1 {
    grid-template-columns: 1fr 1fr;
  }

  .frontp {
    grid-column: span 2;
  }

  #indhold p {
    margin-right: auto;
    margin-left: auto;
  }
}
