#hav {
  place-items: center;
  padding: 16px;
}

.billede {
  margin: auto;
  width: 80%;
}

.timeline {
  padding: 20px;
  margin: 8px;
}

.arbejde {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* tekst */

h3 {
  font-family: "Jost", serif;
  color: rgb(198, 186, 223);
}

p {
  font-family: "Jost", serif;
  color: rgba(231, 235, 192, 1);
  line-height: 45px;
  font-size: 14px;
}

#fag {
  font-style: italic;
}

/* media query */

@media (min-width: 800px) {
  #hav {
    place-items: center;
  }

  .billede {
    margin: auto;
    width: 40%;
  }

  .timeline {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 45px;
  }

  .right-container {
    text-align: right;
    margin-right: 50px;
  }

  .left-container {
    text-align: left;
    margin-left: 60px;
    margin-top: 40px;
  }

  p {
    font-size: 16px;
  }

  .uddannelse {
    margin-bottom: -60px;
  }

  .volunteer {
    margin-top: -60px;
  }
}
